
.app__title{
    text-align: center;
    padding-bottom: 30px;
}
.app__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__img, .app__content{
    width: 50%;
}

.app__content{
    padding: 0 20px;
}